.layout {
  height: 100%;
  background-color: var(--semi-color-fill-0);
}

.content {
  box-sizing: border-box;
  height: 100%;
  padding: 24px;
  overflow: auto;

  &-wrapper {
    height: 100%;
    overflow: hidden;
  }
}
