body {
  --semi-color-nav-bg: rgba(var(--semi-white), 0.16);
  --semi-color-bg-0: rgba(var(--semi-white), 0.6);
  --semi-color-bg-1: rgba(var(--semi-white), 0.5);
  --semi-color-bg-2: rgba(var(--semi-white), 0.8);
  --semi-color-bg-3: rgba(var(--semi-white), 0.8);

  --semi-color-primary-light-default: rgba(var(--semi-blue-2), 0.5);
  --semi-color-info-light-default: rgba(var(--semi-blue-0), 0.8);
  margin: 0;
}

::-webkit-scrollbar {
  background-color: transparent;
  scrollbar-width: thin;

  &-thumb {
    background-color: var(--semi-color-fill-0);
    border-radius: 4px;
  }
}

html,
body,
#root {
  height: 100%;
}

.semi-dropdown-wrapper,
.semi-modal-content {
  backdrop-filter: blur(12px);
}
